@import '../node_modules/css-reset-and-normalize/scss/reset-and-normalize';
@import './base.css';
*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  cursor: pointer;
  color: unset;
  text-decoration: none;
}
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-color: var(--background-color);
  color: rgba(255, 255, 255, 0.87);
  font-family: Roboto, Arial, sans-serif;
}

#app {
  height: 100%;
  min-height: 100%;
  // overflow-x: hidden;

}

html {
  -webkit-font-smoothing: antialiased;
  font-family: Roboto, Noto, sans-serif;
}
span {
  font-family: Roboto, Noto, sans-serif;
}
input {
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0;
  padding: 1px 2px;
  //border-width: 2px;
  //border-style: inset;
  //border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  background-color: transparent;
  color: white;
  //border-color: initial;
  box-shadow: none;
  border: none;
  outline: none;
}

button {
  display: flex;
  gap: 0.5rem;
  background-color: transparent;
  padding: 0;
  margin: 0;
  box-shadow: none;
  border: none;
  outline: none;
  cursor: pointer;
  svg {
    font-size: 24px;
  }
}

button:focus {
  outline: none;
}

.loading {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin-top: 2rem;
  opacity: 0.5;
}

.author {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: rgba(255, 255, 255, 0.7);
  transition: color 0.2s ease;
  margin-bottom: 1rem;

  img {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    object-fit: cover;
  }
}

.lock-scrollbar {
  overflow-y: scroll !important;
  position: fixed;
  top: 0;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
